@model MgeniTrack.Models.VisitorInvitation

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>VisitorInvitation</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ResidentId" class="control-label"></label>
                <select asp-for="ResidentId" class ="form-control" asp-items="ViewBag.ResidentId"></select>
            </div>
            <div class="form-group">
                <label asp-for="VisitorName" class="control-label"></label>
                <input asp-for="VisitorName" class="form-control" />
                <span asp-validation-for="VisitorName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VisitorPhone" class="control-label"></label>
                <input asp-for="VisitorPhone" class="form-control" />
                <span asp-validation-for="VisitorPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VisitorEmail" class="control-label"></label>
                <input asp-for="VisitorEmail" class="form-control" />
                <span asp-validation-for="VisitorEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PurposeOfVisit" class="control-label"></label>
                <input asp-for="PurposeOfVisit" class="form-control" />
                <span asp-validation-for="PurposeOfVisit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExpectedDate" class="control-label"></label>
                <input asp-for="ExpectedDate" class="form-control" />
                <span asp-validation-for="ExpectedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InvitationToken" class="control-label"></label>
                <input asp-for="InvitationToken" class="form-control" />
                <span asp-validation-for="InvitationToken" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QrCodePath" class="control-label"></label>
                <input asp-for="QrCodePath" class="form-control" />
                <span asp-validation-for="QrCodePath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
